/* CSS Organisation Template */
body {
    background-color: #232323;
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
}

#container {
    max-width: 600px;
    margin: 0 auto; /* make the squares center */
}

h1 {
    color: #fff;
}
/* Definitions */

/* Animations */

/* Buttons */

/* Carousels */

/* Forms */

/* Layouts */

/* Lists */

/* Media */

/* Media Queries */
/* Desktop */
@media only screen and (min-width: 1024px;) {}
/* Tablet */
@media only screen and (min-width: 1023px;) {}
/* Mobile */
@media only screen and (min-width: 480px;) {}

/* Tables */

/* Typography rules (Headings, paragraphs, links) */